node_modules/
.expo/
dist/
web-build/
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Env
.env
.env.local
.env.*.local

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Expo
.expo-shared/
